<%layout("/layouts/boilerplate")%>
<body>
    <h2>Edit your listing</h2>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label"> Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        
        <br>
        <div>
            <label for="description" class="form-label"> Description</label>
            <textarea name="listing[description]"class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Enter a short description</div>
        </div>
        
        <br>

        <div class="mb-3">
            <img src="<%=originalImage%>">
        </div>

        <div>
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]"  type="file" class="form-control" >
        </div>
        
        <br>
        <div class="row">
            <div class="col-6">
                <label for="price" class="form-label"> Price</label>
                <input name="listing[price]" value="<%=listing.price%>" type="number" class="form-control" required>
                <div class="invalid-feedback">Please enter valid price</div>
            </div>
            
            <br>
            <div class="col-6">
                <label for="country" class="form-label"> Country</label>
                <input name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" required>
                <div class="invalid-feedback">Please enter valid country name</div>
            
            </div>
        </div>
        <br>
        <div>
            <label for="location" class="form-label"> Location</label>
            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required  >
            <div class="invalid-feedback">Please enter valid location</div>
        </div>
        
        <br>
        <button class="btn btn-dark add-btn">Edit</button>
        <br>
        <br>
    </form>

    <script src="/js/script.js"></script>
</body>
